#c-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00b894;
    color: white;
    border-radius: 6px;
    margin: 5px;
    border: 2px solid white;
}

#c-header #btn-sair {
    max-width: 100px;
}