h3, h4 {
    margin: 10px;
    text-shadow: 0 0 20px white;    
    font-family: 'Segoe UI';
    color: white;
  }
  
  .label-cadastro{
    margin: 50px;
  }
  
  div.label-cadastro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  fieldset, input, select {
    border: none;
    margin: 6px;
  }

div #btn-voltar {
    display: flex;

}

#btn-voltar button {
    margin: 10px;
}