#p-contacts {
  margin: 10px;
}

h1 {
  width: 100%;
  text-shadow: 0 0 15px white;    
  font-family: 'Segoe UI';
  color: white;
}

button a {
  text-decoration: none;
  color: white;  
}

button #btn-criar {
  color: red;
}

#lista-contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

